/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: none;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body {
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 100;
}

a, a:visited {
    color: white;
    text-decoration: underline;
}

a:hover, a:active {
    color: #C3621A;
    text-decoration: underline;
}

#header-container {
    padding: 195px 0;
    text-align: center;
}

#contact-list {
    margin: 40px 0 0 0;
    padding: 0;
    list-style-type: none;
}

#contact-list li {
    display: inline-block;
    margin: 0 10px;
}

#contact-list img {
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#contact-list img:hover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

#name {
    font-weight: 100;
    font-size: 4em;
    margin: 0;
}

#caption-holder {
    min-height: 40px;
}

#caption {
    padding: 0;
    margin: 0;
    font-weight: 100;
}

.nav-list {
    background: #EDEDED;
    margin: 0 auto;
    opacity: 0.5;
    padding: 12px 0;
    text-align: center;
    width: 100%;
    z-index: 100;
}

.nav-item {
    display: inline-block;
    font-size: 1.3em;
    margin: 0 10px;
    opacity: 1;
}

.nav-item a, .nav-item a:visited {
    color: #333333;
    font-weight: 300;
    text-decoration: none;
}

.nav-item a:hover, .nav-item a:active {
    color: #C3621A;
}


.fixed-nav {
    position: fixed;
    top: 0;
    -moz-box-shadow:    1px 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow:         1px 1px 1px 1px #ccc;
}

.section-header {
    font-size: 2.8em;
    font-weight: 100;
    text-align: center;
}

#about {
    background: #666666;
    line-height: 2em;
    opacity: 0.7;
    padding: 3% 10% 10% 5%;
}

#self-pic {
    border-radius: 30%;
    display: block;
    height: 10em;
    margin: 0 auto;
    padding: 0;
    -moz-box-shadow:    1px 1px 1px 1px #aaa;
    -webkit-box-shadow: 1px 1px 1px 1px #aaa;
    box-shadow:         1px 1px 1px 1px #aaa;
}

#technologies {
    background: #555555;
    padding: 5% 2% 10% 5%;
    opacity: 0.7;
    text-align: center;
}

.technologies-box {
    -moz-box-shadow:    1px 3px 5px 1px #181B40;
    -webkit-box-shadow: 1px 3px 5px 1px #181B40;
    box-shadow:         1px 3px 5px 1px #181B40;
    background: #131B2A;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
    min-height: 270px;
    min-width: 200px;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    width: 22%;
}

.technologies-list {
    list-style-type: none;
    padding: 0;
}

.technologies-item {
    padding: 2px 0;
}

.technologies-header {
    border-bottom: 2px solid white;
    font-size: 1.4em;
    margin-bottom: 20px;
}

#projects {
    background: #333333;
    padding: 3% 5% 10% 5%;
    opacity: 0.7;
}

#project-box {
    height: 400px;
    overflow: hidden;
    margin: 0;
}

.project-display {
    display: inline-block;
    height: 400px;
    position: relative;
}

.project-title {
    font-size: 2em;
    font-weight: 100;
}

#baller-display a, #baller-display a:visited {
    color: #FDD28C;
    text-decoration: none;
}

#baller-display a:hover, #baller-display a:active {
    text-decoration: underline;
}

#learnr-display a, #learnr-display a:visited {
    color: #87CEFA;
    text-decoration: none;
}

#learnr-display a:hover, #learnr-display a:active {
    text-decoration: underline;
}

#relephant-display a, #relephant-display a:visited {
    color: #B8B1AD;
    text-decoration: none;
}

#relephant-display a:hover, #relephant-display a:active {
    text-decoration: underline;
}

.project-display img {
    width: auto;
    max-width: 50%;
    float: right;
    padding: 20px;
}

.project-display-info {
    margin: 0;
    padding: 10px;
}

.play-pause {
    height: 4em;
    padding: 0 2em 0 0;
    margin-left: 100px;
}

.project-button {
    background: #333333;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin: 0 10px;
    height: 58px;
    width: 150px;
}

#baller, #learnr, #relephant {
    font-weight: 100;
}

#footer p {
    background: #333333;
    font-size: 0.9em;
    margin: 0;
    opacity: 0.7;
    padding: 0;
    text-align: center;
}
