// Variables

$red: #901623 !default;
$blue: #238697 !default;
$purple: #1F3E63 !default;
$teal: #87A299 !default;
$orange: #B14444 !default;

$primary: $red !default;
$secondary: #2C3E50 !default;

$black: #000 !default;
$white: #fff !default;
$blue: #2F97D8 !default;
