/*** VARS ***/
$black: #000000;
$grey: #999999;
$white: #FFFFFF;
$purple: #1C0435;
$pink: #F3326B;
$orange: #D47946;

$ipad: 768px;
$iphone6: 375px;

@keyframes bounce {
    0%, 40%, 50%, 60%, 100% {transform: translateY(0);}
    45% {transform: translateY(-10px);}
    55% {transform: translateY(-5px);}
}

body {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;

	.break {
		background-color: $white;
		height: 3px;
		margin: 15px 0px 10px 0px;
		width: 50px;
	}

	.bg-image {
		background-image: url(https://images.unsplash.com/photo-1450849608880-6f787542c88a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=786a67dca1d8791d181bfd90b16240d9);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: -2;
	}

	.overlay {
		background-color: $black;
		height: 100vh;
		opacity: 0.3;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: -1;
	}

	.header {
		align-items: center;
		display: flex;
		height: 100vh;
		justify-content: center;
		position: relative;
		width: 100%;

		.inner {
			transition: all .8s;

			color: $white;
			opacity: 0;
			position: relative;
			text-align: center;
			top: 20px;

			&.show {
				opacity: 1;
				top: 0px;
			}

			a {
				transition: all .3s;

				color: $white;
				text-decoration: none;

				&.underline {
					text-decoration: underline;
				}

				&:hover {
					color: $pink;
				}
			}

			.text-container {
				display: flex;
				flex-direction: column;
				align-items: center;

				h1 {
					font-family: 'Raleway', sans-serif;
					font-size: 62px;
					text-transform: uppercase;
					letter-spacing: 6px;
				}

				h2 {
					font-size: 22px;
					margin-top: 10px;
				}

				h3 {
					margin-top: 10px;
				}

				.icons-container {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					margin-top: 15px;
					width: 120px;

					i {
						font-size: 22px;
					}
				}
			}
		}

		.fa-angle-down {
			bottom: 30px;
			color: $white;
			cursor: pointer;
			font-size: 62px;
			left: calc(50% - 20px);
			position: absolute;

			animation-name: bounce;
			animation-duration: 3s;
			animation-iteration-count: infinite;
		}
	}

	.projects {
		align-items: center;
		background: $white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		opacity: 0.9;
		padding-bottom: 50px;
		width: 100%;

		.break {
			background-color: $black;
			margin: 25px 0px 0px 0px;
		}

		h2 {
			font-family: 'Raleway', sans-serif;
			letter-spacing: 6px;
			font-size: 40px;
			margin: 60px 0px 0px 0px;
			text-align: center;
			text-transform: uppercase;

			@media (min-width: $ipad) {
				margin-top: 120px;
			}
		}

		.project-container {
			align-items: center;
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			padding-bottom: 100px;
			width: 100%;

			@media (min-width: $ipad) {
				flex-direction: row;
				justify-content: space-around;
			}
			
			.project {
				height: 300px;
				width: 300px;

				@media (min-width: $iphone6) {
					height: 350px;
					width: 350px;
				}
			}

			.project {
				// border: 1px solid $grey;
				background-repeat: no-repeat;
				background-size: cover;
				box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
				margin-top: 50px;
				overflow: hidden;
				position: relative;

				&.baller {
					background-image: url(../images/ballernyc.png);
				}
				&.haus {
					background-image: url(../images/hausthebott_small.png);
				}
				&.relephant {
					background-image: url(../images/relephant_small.png);
				}
				&.trippin {
					background-image: url(../images/trippindots_small_2.png);
				}
				&.djlazy {
					background-image: url(../images/djlazy.png);
				}
				&.rnradio {
					background-image: url(../images/rnradio.png);
					.project-text {
						.inner {
							h3 {
								letter-spacing: 4px;
							}
						}
					}
				}

				.project-overlay {
					transition: all .3s;

					background: $purple;
					bottom: 0;
					display: flex;
					flex-direction: column;
					left: 0;
					opacity: 0.1;
					position: absolute;
					right: 0;
					top: 0;
				}

				.github {
					transition: all .3s;

				    bottom: 5px;
				    color: $white;
				    left: calc(50% - 13px);
				    opacity: 0;
				    position: absolute;
				    text-decoration: none;

				    &:hover {
				    	color: $pink;
				    }
				}

				.project-text {
					transition: all .6s;

					align-items: center;
					bottom: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					left: 0;
					margin-top: -8px;
					position: absolute;
					right: 0;
					top: 0;

					.break {
						background-color: $white;
						display: inline-block;
						margin: 8px 0px 10px 0px;
					}

					.inner {
						transition: all .3s;

						color: $white;
						opacity: 0;
						position: relative;
						text-align: center;
						top: 10px;
						width: 90%;

						h3 {
							font-family: 'Raleway', sans-serif;
							font-size: 22px;
							letter-spacing: 6px;
							margin-bottom: 10px;
							text-transform: uppercase;
						}

						p {
							line-height: 22px;
						}

						a {
							transition: all .3s;

							&:not(.underline) {
								border: 2px solid $pink;
								border-radius: 5px;
								color: $pink;
								display: inline-block;
								margin-top: 13px;
								text-decoration: none;
								padding: 10px 20px;
							}


							&.underline {
								border: none;
								color: $white;
								text-decoration: underline;

								&:hover {
									background: none;
									color: $pink;
								}
							}

							&:hover {
								background: $pink;
								color: $white;
							}
						}
					}
				}				

				&:hover, &.reveal {
					.project-overlay {
						opacity: .9
					}

					.project-text {
						.inner {
							opacity: 1;
							top: 0px;
						}
					}

					.github {
						opacity: 1;
					}
				}
			}
		}
	}

	.footer {
		align-items: center;
		background: transparent;
		display: flex;
		flex-direction: column;
		height: 400px;
		justify-content: center;
		position: relative;
		width: 100%;

		.button-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			@media (min-width: $ipad) {
				flex-direction: row;
			}
		}

		a.contact, a.resume {
			transition: all .5s;

			border: 1px solid $pink;
			border-radius: 5px;
			color: $pink;
			font-family: 'Raleway', sans-serif;
			font-size: 36px;
			padding: 20px 50px;
			text-decoration: none;

			&:hover {
				background: $pink;
				color: $white;
			}
		}

		a.resume {
			margin-top: 50px;

			@media (min-width: $ipad) {
				margin-top: 0px;
				margin-left: 50px;
			}
		}

		a.github {
			bottom: 0px;
			color: $white;
			font-size: 18px;
			left: calc(50% - 15px);
			margin-bottom: 10px;
			position: absolute;
			text-decoration: none;

			&:hover {
				color: $pink;
			}
		}
	}
}