/*** VARS ***/
@keyframes bounce {
  0%, 40%, 50%, 60%, 100% {
    transform: translateY(0); }
  45% {
    transform: translateY(-10px); }
  55% {
    transform: translateY(-5px); } }
body {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px; }
  body .break {
    background-color: #FFFFFF;
    height: 3px;
    margin: 15px 0px 10px 0px;
    width: 50px; }
  body .bg-image {
    background-image: url(https://images.unsplash.com/photo-1450849608880-6f787542c88a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=786a67dca1d8791d181bfd90b16240d9);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2; }
  body .overlay {
    background-color: #000000;
    height: 100vh;
    opacity: 0.3;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1; }
  body .header {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100%; }
    body .header .inner {
      transition: all .8s;
      color: #FFFFFF;
      opacity: 0;
      position: relative;
      text-align: center;
      top: 20px; }
      body .header .inner.show {
        opacity: 1;
        top: 0px; }
      body .header .inner a {
        transition: all .3s;
        color: #FFFFFF;
        text-decoration: none; }
        body .header .inner a.underline {
          text-decoration: underline; }
        body .header .inner a:hover {
          color: #F3326B; }
      body .header .inner .text-container {
        display: flex;
        flex-direction: column;
        align-items: center; }
        body .header .inner .text-container h1 {
          font-family: 'Raleway', sans-serif;
          font-size: 62px;
          text-transform: uppercase;
          letter-spacing: 6px; }
        body .header .inner .text-container h2 {
          font-size: 22px;
          margin-top: 10px; }
        body .header .inner .text-container h3 {
          margin-top: 10px; }
        body .header .inner .text-container .icons-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 15px;
          width: 120px; }
          body .header .inner .text-container .icons-container i {
            font-size: 22px; }
    body .header .fa-angle-down {
      bottom: 30px;
      color: #FFFFFF;
      cursor: pointer;
      font-size: 62px;
      left: calc(50% - 20px);
      position: absolute;
      animation-name: bounce;
      animation-duration: 3s;
      animation-iteration-count: infinite; }
  body .projects {
    align-items: center;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.9;
    padding-bottom: 50px;
    width: 100%; }
    body .projects .break {
      background-color: #000000;
      margin: 25px 0px 0px 0px; }
    body .projects h2 {
      font-family: 'Raleway', sans-serif;
      letter-spacing: 6px;
      font-size: 40px;
      margin: 60px 0px 0px 0px;
      text-align: center;
      text-transform: uppercase; }
      @media (min-width: 768px) {
        body .projects h2 {
          margin-top: 120px; } }
    body .projects .project-container {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      padding-bottom: 100px;
      width: 100%; }
      @media (min-width: 768px) {
        body .projects .project-container {
          flex-direction: row;
          justify-content: space-around; } }
      body .projects .project-container .project {
        height: 300px;
        width: 300px; }
        @media (min-width: 375px) {
          body .projects .project-container .project {
            height: 350px;
            width: 350px; } }
      body .projects .project-container .project {
        border: 1px solid #999999;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 50px;
        overflow: hidden;
        position: relative; }
        body .projects .project-container .project.baller {
          background-image: url(../images/ballernyc.png); }
        body .projects .project-container .project.haus {
          background-image: url(../images/hausthebott_small.png); }
        body .projects .project-container .project.relephant {
          background-image: url(../images/relephant_small.png); }
        body .projects .project-container .project.trippin {
          background-image: url(../images/trippindots_small_2.png); }
        body .projects .project-container .project.djlazy {
          background-image: url(../images/djlazy.png); }
        body .projects .project-container .project.rnradio {
          background-image: url(../images/rnradio.png); }
          body .projects .project-container .project.rnradio .project-text .inner h3 {
            letter-spacing: 4px; }
        body .projects .project-container .project .project-overlay {
          transition: all .3s;
          background: #1C0435;
          bottom: 0;
          display: flex;
          flex-direction: column;
          left: 0;
          opacity: 0.1;
          position: absolute;
          right: 0;
          top: 0; }
        body .projects .project-container .project .github {
          transition: all .3s;
          bottom: 5px;
          color: #FFFFFF;
          left: calc(50% - 13px);
          opacity: 0;
          position: absolute;
          text-decoration: none; }
          body .projects .project-container .project .github:hover {
            color: #F3326B; }
        body .projects .project-container .project .project-text {
          transition: all .6s;
          align-items: center;
          bottom: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          left: 0;
          margin-top: -8px;
          position: absolute;
          right: 0;
          top: 0; }
          body .projects .project-container .project .project-text .break {
            background-color: #FFFFFF;
            display: inline-block;
            margin: 8px 0px 10px 0px; }
          body .projects .project-container .project .project-text .inner {
            transition: all .3s;
            color: #FFFFFF;
            opacity: 0;
            position: relative;
            text-align: center;
            top: 10px;
            width: 90%; }
            body .projects .project-container .project .project-text .inner h3 {
              font-family: 'Raleway', sans-serif;
              font-size: 22px;
              letter-spacing: 6px;
              margin-bottom: 10px;
              text-transform: uppercase; }
            body .projects .project-container .project .project-text .inner p {
              line-height: 22px; }
            body .projects .project-container .project .project-text .inner a {
              transition: all .3s; }
              body .projects .project-container .project .project-text .inner a:not(.underline) {
                border: 2px solid #F3326B;
                border-radius: 5px;
                color: #F3326B;
                display: inline-block;
                margin-top: 13px;
                text-decoration: none;
                padding: 10px 20px; }
              body .projects .project-container .project .project-text .inner a.underline {
                border: none;
                color: #FFFFFF;
                text-decoration: underline; }
                body .projects .project-container .project .project-text .inner a.underline:hover {
                  background: none;
                  color: #F3326B; }
              body .projects .project-container .project .project-text .inner a:hover {
                background: #F3326B;
                color: #FFFFFF; }
        body .projects .project-container .project:hover .project-overlay, body .projects .project-container .project.reveal .project-overlay {
          opacity: 0.9; }
        body .projects .project-container .project:hover .project-text .inner, body .projects .project-container .project.reveal .project-text .inner {
          opacity: 1;
          top: 0px; }
        body .projects .project-container .project:hover .github, body .projects .project-container .project.reveal .github {
          opacity: 1; }
  body .footer {
    align-items: center;
    background: transparent;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    position: relative;
    width: 100%; }
    body .footer .button-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      @media (min-width: 768px) {
        body .footer .button-container {
          flex-direction: row; } }
    body .footer a.contact, body .footer a.resume {
      transition: all .5s;
      border: 1px solid #F3326B;
      border-radius: 5px;
      color: #F3326B;
      font-family: 'Raleway', sans-serif;
      font-size: 36px;
      padding: 20px 50px;
      text-decoration: none; }
      body .footer a.contact:hover, body .footer a.resume:hover {
        background: #F3326B;
        color: #FFFFFF; }
    body .footer a.resume {
      margin-top: 50px; }
      @media (min-width: 768px) {
        body .footer a.resume {
          margin-top: 0px;
          margin-left: 50px; } }
    body .footer a.github {
      bottom: 0px;
      color: #FFFFFF;
      font-size: 18px;
      left: calc(50% - 15px);
      margin-bottom: 10px;
      position: absolute;
      text-decoration: none; }
      body .footer a.github:hover {
        color: #F3326B; }

/*# sourceMappingURL=main.css.map */
