/*** VARS ***/
$black: #000000;
$grey: #999999;
$white: #FFFFFF;
$purple: #1C0435;
$pink: #F3326B;
$orange: #D47946;

$expandWidth: 1000px;
$ipad: 768px;
$iphone6: 375px;

@keyframes bounce {
    0%, 40%, 50%, 60%, 100% {transform: translateY(0);}
    45% {transform: translateY(-10px);}
    55% {transform: translateY(-5px);}
}

@keyframes lineexpandright {
	0% {
		border-bottom-width: 0px;
		border-right-width: 0px;
		left: 0px;
		height: 0px;
		width: 0px;
	}
	0.1% {
		border-bottom-width: 2px;
		border-right-width: 2px;
	}
	50%  {
		height: 0px;
		left: 0px;
		width: 250px;
	}
	100%  {
		border-bottom-width: 2px;
		border-right-width: 2px;
		left: 10px;
		height: 30px;
		width: 250px;
	}
}

@keyframes lineexpandleft {
	0% {
		border-bottom-width: 0px;
		border-left-width: 0px;
		right: 0px;
		height: 0px;
		width: 0px;
	}
	0.1% {
		border-bottom-width: 2px;
		border-left-width: 2px;
	}
	50%  {
		height: 0px;
		right: 0px;
		width: 250px;
	}
	100%  {
		border-bottom-width: 2px;
		border-left-width: 2px;
		right: 10px;
		height: 30px;
		width: 250px;
	}
}

body {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;

	.break {
		background-color: $white;
		height: 3px;
		margin: 15px 0px 10px 0px;
		width: 50px;
	}

	.bg-image {
		background-image: url(../images/stars-background.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: -2;
	}

	.overlay {
		background-color: $black;
		height: 100vh;
		opacity: 0.3;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: -1;
	}

	.header {
		align-items: center;
		display: flex;
		height: 100vh;
		justify-content: center;
		position: relative;
		width: 100%;

		.inner {
			transition: all .8s;

			color: $white;
			opacity: 0;
			position: relative;
			text-align: center;
			top: 20px;

			&.show {
				opacity: 1;
				top: 0px;
			}

			a {
				transition: all .3s;

				color: $white;
				text-decoration: none;

				&.underline {
					text-decoration: underline;
				}

				&:hover {
					color: $pink;
				}
			}

			.text-container {
				display: flex;
				flex-direction: column;
				align-items: center;

				h1 {
					font-family: 'Raleway', sans-serif;
					font-size: 62px;
					text-transform: uppercase;
					letter-spacing: 6px;
					margin-left: 3px;
				}

				h2 {
					font-size: 22px;
					margin-top: 10px;
					line-height: 26px;
				}

				h3 {
					margin-top: 10px;
				}

				.icons-container {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					margin-top: 15px;
					width: 120px;

					i {
						font-size: 22px;
					}
				}
			}
		}

		.fa-angle-down {
			bottom: 30px;
			color: $white;
			cursor: pointer;
			font-size: 62px;
			left: calc(50% - 20px);
			position: absolute;

			animation-name: bounce;
			animation-duration: 3s;
			animation-iteration-count: infinite;
		}
	}

	.projects {
		align-items: center;
		background: $white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 50px;
		width: 100%;

		.break {
			background-color: $black;
			margin: 25px 0px 40px 0px;
		}

		h2 {
			font-family: 'Raleway', sans-serif;
			letter-spacing: 6px;
			font-size: 50px;
			margin: 60px 0px 0px 0px;
			text-align: center;
			text-transform: uppercase;

			@media (min-width: $ipad) {
				margin-top: 80px;
			}
		}

		.projects-container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			overflow: hidden;

			@media (min-width: $ipad) {
				justify-content: space-around;
			}

			@media(min-width: $expandWidth) {
				flex-direction: column;
			}

			padding-bottom: 100px;
			width: 100%;

			.project-container {

				position: relative;
				display: flex;
				flex-direction: row;
				align-items: center;
				margin: 0px auto;

				.line-container, .project-name-color {
					display: none;
				}
				
				@media(min-width: $expandWidth) {
					margin: 50px auto;
					width: 1000px;

					.line-container, .project-name-color {
						display: block;
					}

					&:nth-child(odd) {
						justify-content: flex-start;
						padding-left: 30px;
						
						.line-container {
							margin-left: 30px;

							.line {
								left: 0px;
								transform: skew(-30deg);
								border-right: 0px solid $pink;
							}
						}

						.project-name-color {
							left: 18px;

							.dot {
								margin-right: 5px;
							}
						}

						&.expand {
							.line {
								animation-name: lineexpandright;
								animation-duration: .6s;
								animation-fill-mode: forwards;
							}
						}
					}

					&:nth-child(even) {
						justify-content: flex-end;
						padding-right: 30px;

						.line-container {
							margin-right: 30px;

							.line {
								right: 0px;
								transform: skew(30deg);
								border-left: 0px solid $pink;
							}
						}

						.project-name-color {
							right: 18px;

							.dot {
								margin-left: 5px;
							}
						}

						&.expand {
							.line {
								animation-name: lineexpandleft;
								animation-duration: .6s;
								animation-fill-mode: forwards;
							}
						}
					}

					&.expand {
						.project-name-color {
							opacity: 1;
						}
					}
				}

				&.reveal {
					.project {
						box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

						.project-overlay {
							opacity: .8
						}

						.project-text {
							.inner {
								opacity: 1;
								top: 0px;
							}
						}

						.github {
							opacity: 1;
						}	
					}
				}

			}
			
			.project {
				height: 300px;
				width: 300px;
 
				@media (min-width: $ipad) {
					height: 350px;
					width: 500px;
				}
			}

			.line-container {
				height: 37px;
				width: 270px;
				position: relative;
				overflow: hidden;

				.line {
					position: absolute;
					bottom: 0px;
					height: 0px;
					width: 0px;
					border-bottom: 0px solid $pink;
				}
			}

			.project-name-color {
				transition: opacity .3s .6s;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				opacity: 0;
				position: relative;
				top: -45px;
				max-width: 170px;
				text-align: center;

				.dot {
					display: none; // disabled
					border-radius: 7.5px;
					height: 15px;
					width: 15px;
					background: $pink;
					margin-top: -1px;
				}

				p {
					font-size: 28px;
					margin-top: -5px;
				}
			}


			.project {
				transition: box-shadow .3s;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
					
				margin-top: 50px;
				overflow: hidden;
				position: relative;

				&.baller {
					background-image: url(../images/ballernyc.png);
				}
				&.haus {
					background-image: url(../images/hausthebott_small.png);
				}
				&.relephant {
					background-image: url(../images/relephant_small.png);
				}
				&.trippin {
					background-image: url(../images/trippindots_small_2.png);
				}
				&.djlazy {
					background-image: url(../images/djlazy.png);
				}
				&.rnradio {
					background-image: url(../images/rnradio.png);
					.project-text {
						.inner {
							h3 {
								letter-spacing: 4px;
							}
						}
					}
				}

				.project-overlay {
					transition: all .3s;

					background: $purple;
					bottom: 0;
					display: flex;
					flex-direction: column;
					left: 0;
					opacity: 0.1;
					position: absolute;
					right: 0;
					top: 0;
				}

				.github {
					transition: all .3s;

				    bottom: 5px;
				    color: $white;
				    left: calc(50% - 13px);
				    opacity: 0;
				    position: absolute;
				    text-decoration: none;

				    &:hover {
				    	color: $pink;
				    }
				}

				.project-text {
					transition: all .6s;

					align-items: center;
					bottom: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					left: 0;
					margin-top: -8px;
					position: absolute;
					right: 0;
					top: 0;

					.break {
						background-color: $white;
						display: inline-block;
						margin: 8px 0px 10px 0px;

						@media(min-width: $expandWidth) {
							display: none;
						}
					}

					.inner {
						transition: all .3s;

						color: $white;
						opacity: 0;
						position: relative;
						text-align: center;
						top: 10px;
						width: 90%;

						@media(min-width: $expandWidth) {
							width: 60%;
						}

						h3 {
							font-family: 'Raleway', sans-serif;
							font-size: 22px;
							letter-spacing: 6px;
							margin-bottom: 10px;
							text-transform: uppercase;

							@media(min-width: $expandWidth) {
								display: none;
							}
						}

						p {
							line-height: 22px;
						}

						a {
							transition: all .3s;

							&:not(.underline) {
								border: 2px solid $pink;
								border-radius: 5px;
								color: $pink;
								display: inline-block;
								margin-top: 13px;
								text-decoration: none;
								padding: 10px 20px;
							}


							&.underline {
								border: none;
								color: $white;
								text-decoration: underline;

								&:hover {
									background: none;
									color: $pink;
								}
							}

							&:hover {
								background: $pink;
								color: $white;
							}
						}
					}
				}
			}
		}
	}

	.footer {
		align-items: center;
		background: transparent;
		display: flex;
		flex-direction: column;
		height: 400px;
		justify-content: center;
		position: relative;
		width: 100%;

		.button-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			@media (min-width: $ipad) {
				flex-direction: row;
			}
		}

		a.contact, a.resume {
			transition: all .5s;

			border: 1px solid $pink;
			border-radius: 5px;
			color: $pink;
			font-family: 'Raleway', sans-serif;
			font-size: 36px;
			padding: 20px 50px;
			text-decoration: none;

			&:hover {
				background: $pink;
				color: $white;
			}
		}

		a.resume {
			margin-top: 50px;

			@media (min-width: $ipad) {
				margin-top: 0px;
				margin-left: 50px;
			}
		}

		a.github {
			bottom: 0px;
			color: $white;
			font-size: 18px;
			left: calc(50% - 15px);
			margin-bottom: 10px;
			position: absolute;
			text-decoration: none;

			&:hover {
				color: $pink;
			}
		}
	}

	&.is-touch-device {
		.projects .projects-container .project .project-text .inner {
			a:not(.underline) {
				background: $pink;
				color: $white;
			}
		}

		.footer a.contact, .footer a.resume {
			background: $pink;
			color: $white;
		}
	}

}